{% extends "layout.html"%}
{%block content%}
<div class="container-fluid" style="background: #fff; border-radius: 10px; display: flex; align-items: center; justify-content: center; color: #000;">
    <div>
        <div style="text-align: center; margin-bottom: 20px;">
            <h1>Misión</h1>
            <p>Nuestra misión en Compupartes es proporcionar a nuestros clientes una amplia variedad de partes de computadoras, accesorios y computadoras de calidad, junto con un servicio excepcional. Nos esforzamos por satisfacer las necesidades tecnológicas de nuestros clientes, brindándoles soluciones confiables y actualizadas para mejorar su experiencia informática.</p>
        </div>
        <div style="text-align: center;margin-bottom: 20px">
            <h1>Visión</h1>
            <p>En Compupartes, aspiramos a convertirnos en el principal referente en el mercado de venta de partes de computadoras y soluciones informáticas. Buscamos establecer relaciones duraderas con nuestros clientes, ser reconocidos por nuestro compromiso con la calidad y la excelencia en el servicio, y expandirnos a nivel nacional para llegar a un público más amplio.</p>
        </div>
        <div style="text-align: center;margin-bottom: 20px">
            <h1>Quiénes somos</h1>
            <p>En Compupartes, somos un equipo apasionado de expertos en tecnología y entusiastas de las computadoras. Contamos con una vasta experiencia en el campo de la informática y nos mantenemos al tanto de las últimas tendencias y avances tecnológicos. Nuestro conocimiento y compromiso nos permiten brindar asesoramiento experto y soluciones personalizadas a nuestros clientes.</p>
        </div>
        <div style="text-align: center;margin-bottom: 20px">
            <h1>Nuestros clientes</h1>
            <p>Nuestros clientes incluyen tanto usuarios domésticos como empresas de diferentes tamaños. Nos dirigimos a entusiastas de la tecnología que desean actualizar o personalizar sus equipos, así como a profesionales y empresas que requieren soluciones informáticas confiables y de calidad para sus operaciones diarias.</p>
        </div>
        <div style="text-align: center;margin-bottom: 20px">
            <h1>Lugar</h1>
            <p>Ubicaremos nuestro negocio Compupartes en una ubicación estratégica y de fácil acceso para nuestros clientes. Preferentemente, estará situado en una zona comercial con alta afluencia de personas y cerca de otras empresas relacionadas con la tecnología, en específico en el bulevar. Además, consideraremos la opción de tener una presencia en línea a través de una plataforma de comercio electrónico para llegar a clientes de todo el país.</p>
        </div>
        <div style="text-align: center;margin-bottom: 20px">
            <h1>Productos</h1>
            <p>En Compupartes, ofreceremos una amplia variedad de productos, que incluirán partes de computadoras como tarjetas madre, procesadores, tarjetas gráficas, memoria RAM, discos duros, fuentes de alimentación, entre otros. También proporcionaremos una selección de accesorios como teclados, ratones, monitores, auriculares, cables y adaptadores. Además, ofreceremos computadoras preensambladas de diferentes configuraciones para adaptarnos a las necesidades y presupuestos de nuestros clientes.</p>
        </div>
    </div>
</div>

{%endblock%}
