{% extends "layout.html"%}
{%block content%}
<style >
  .image{
            width: 500px; 
        margin-left: 20px;
         margin-right: 20px;
          margin-top: 10px;
          border-radius: 10px;
  }
</style>
<div class="jumbotron" style="margin-bottom: 50px;">
  <h1 class="display-4">Bienvenido a CompuPartes</h1>
  <p class="lead">El lugar donde encuentras todo de computadoras en todas partes</p>
  <hr class="my-4">
  <p>Ir a la tienda</p>
  <a class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</a>
</div>
<div >
  <h3>Somos la mejor tienda de colombia </h3>
  <div style="display: flex;">
    
    <div>
    <img class="image" src="static/img/computadoras.jpg">  
  </div>
  <div>
    <p style="font-size: 20px;">Nuestra compañia se encarga de vender toda clase de aparatos tecnlogicos para computadora ademas de que hace envios a todo el pais, cualquier parte de computadora que necesite la tenemos aqui.</p>
  </div>
  </div>
  

  
</div>
{%endblock%}