{% extends "layout.html"%}
{% block content %}
<h1>
    Bienvenido a CompuPartes
</h1>
<style>
    .item{
        width: 300px; 
        margin-left: 20px;
         margin-right: 20px;
          margin-top: 10px;
          border-radius: 10px;
    }
    .containerItem{
        display: flow;
        text-align : center;
    }
    .btn{
        margin-bottom: 10px;
    }
</style>
<div style="display: flow; ">
    <div class="container-fluid" style="background: #fff; border-radius: 10px;  display: flex; align-items: center; width : 1400px; color: #000;margin-top: 20px;">
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
    </div>
    <div class="container-fluid" style="background: #fff; border-radius: 10px;  display: flex; align-items: center; width : 1400px; color: #000;margin-top: 20px;">
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
    </div>

    <div class="container-fluid" style="background: #fff; border-radius: 10px;  display: flex; align-items: center; width : 1400px; color: #000;margin-top: 20px;">
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
    </div>
        <div class="container-fluid" style="background: #fff; border-radius: 10px;  display: flex; align-items: center; width : 1400px; color: #000;margin-top: 20px;">
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
    </div>
        <div class="container-fluid" style="background: #fff; border-radius: 10px;  display: flex; align-items: center; width : 1400px; color: #000;margin-top: 20px;">
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
        <div class="containerItem">
            <img src="static/img/Ram.png" class="item">
            </img>
            <h4>Memoria Ram $45.000</h1>
                  <buy class="btn btn-primary btn-lg" href="shop" role ="button">Comprar</buy>


        </div>
    </div>
</div>
{% endblock %}
